@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bege: #ffedcd;
  --bege2: #fff4ee;
  --bege3: #eacab6;
  --marrom: #7d5147;
  --marrom2: #833c2c;
  --marrom3: #421d14;
  --rosa: #ff877d;
  --rosa2: #ee5350;
  --verde: #347141;
  --branco: #ffffff;
  --preto: #000000;
  --preto2: #1b1b1b;
  --amarelo: #fde047;
  --amarelo2: #facc15;
}

* {
  font-family: Poppins;
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 110px;
  background-color: var(--bege2);
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: var(--marrom3);
  text-decoration-color: var(--amarelo);
  padding-bottom: 23px;
  font-size: 32pt;
}

p {
  text-align: center;
}

.item {
  color: var(--marrom3);
  background-color: var(--branco);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.nome {
  flex: 2;
}

.preco,
.total {
  flex: 1;
  text-align: center;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 10px;
}

.remover a {
  color: red;
  text-decoration: none;
  font-size: 18px;
}

.quantidade a {
  display: inline-block;
  background-color: var(--rosa);
  color: var(--branco);
  padding: 10px;
  margin: 0 5px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.carrinho-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  padding: 20px;
}

.produtos {
  margin-right: 25px;
  flex: 2;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
}

.resumo {
  flex: 1;
  background-color: var(--bege);
  padding: 20px;
  border-radius: 12px;
  height: 200px;
  color: var(--marrom3);
}

.resumo button {
  width: 100%;
  padding: 10px;
  background: var(--verde);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 13pt;

  a {
    color: var(--bege2);
  }
}

.resumo p {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  font-weight: 700;
}

.resumo h2 {
  padding-bottom: 15px;
}

.resumo span {
  font-weight: 500;
}

.resumo strong {
  font-weight: 750;
}

#linha {
  border-top: 1px solid var(--amarelo2);
  margin: 8px;
}

#limpar {
  border-color: var(--rosa);
  border-radius: 10px;
  padding: 7px;
  background-color: var(--rosa2);
  font-weight: 700;
  font-size: 13pt;
  margin-right: 17px;
  color: var(--branco);
  margin-left: 25px;
  transition: 0.5s;
  margin-bottom: 20px;
}

#limpar:hover {
  background-color: var(--amarelo2);
  transform: scale(1.1);
}

#finalizar a {
  text-decoration: none;
}

.quantidade .bloqueado {
  background-color: rgb(224, 224, 224);
  display: inline-block;
  color: rgb(145, 145, 145);
  padding: 10px;
  margin: 0 5px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.form-qtd{
  margin: 0;
}


.input-qtd{
  width: 45px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--rosa);
  background-color: var(--branco);
  color: var(--marrom3);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  transition: 0.3s;
}


.input-qtd:focus{
  border-color: var(--rosa2);
  box-shadow: 0 0 8px rgba(255, 135, 125, 0.4);
}


@media (max-width: 768px) {
  .item img {
    width: 150px;
  }

  .carrinho-container {
    display: block;
  }

  .nome {
    font-size: 12pt;
  }

  .item {
    flex-direction: column;
    gap: 5px;
  }

  #limpar {
    margin-top: 20px;
    .item {
        flex-direction: column;
        gap: 5px;
    }

    #limpar {
        margin-top: 20px;
    }
}
}

@media (min-width: 1400px) {
  h1 {
    font-size: 45pt;
  }

  p {
    font-size: 25pt;
  }

  .item img {
    width: 200px;
  }

  .item {
    font-size: 20pt;
  }

  .remover {
    font-size: 28pt;
  }

  .resumo {
    font-size: 20pt;
    height: 350px;
  }

  #limpar {
    font-size: 18pt;
  }

  #finalizar {
    font-size: 18pt;

  }
}